.app-titlebar
  -webkit-app-region drag
  -webkit-user-select none
  input, button, select, span, li
    -webkit-app-region no-drag

*
  font-family "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", "Meiryo", sans-serif
