.app-titlebar
  -webkit-app-region drag
  -webkit-user-select none
  input, button, select, span, li
    -webkit-app-region no-drag

html, body
  margin 0
  padding 0
  height: 100%
  overflow hidden

body > nav.navbar
  margin-bottom 0

#editor
  height calc(100% - 52px)
  overflow auto

*
  font-family "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", "Meiryo", sans-serif
